CACHE_ENABLED=True
CACHE_LOCATION=redis://94.241.142.87
API_KEY=sk_test_51OqtSpHQf9GbVGuPTqjWkjj7msLosm0s9fNvXDggHJwCggpIoNIpWP0TB1RsXiT6hiOcKYwkSpjrUFQTABCShUeg00Xd6ss4uM
SECRET_KEY=django-insecure-*e0qs6z2c0l#b@m!rpve)2e=q5k8a!52t2(n7-(6v3zv3q4b45
REDIS_HOST=94.241.142.87
REDIS_PORT=6379
EMAIL_HOST_USER=d.abdrahm4nova@yandex.ru
EMAIL_HOST_PASSWORD=ijeklilpqwqbztv
PASSWORD=12345
NAME=term4
USER=postgres
PORT=5432
HOST=0000

